div{
    font-size: 64px;
    color: limegreen;
    padding: 200px;
    margin: 10px;
}
.alert-text {
    font-size: 64px;
    color: red;
    padding: 100px;
  }
#title {
     background-color: blueviolet;
font-size: 70px;
padding: 50px;  
  }

  /* .read,
  .unread {
         color: white;
         background-color: black;
} */

.subsection.header {
    color: red;
    background-color: dimgrey;
}
.subsection#preview{
    color: chartreuse;
    background-color: darkgreen;
}

.subsection {
    color: blue;
  }
                            /* in this code the text show with red color bec it's more specifically only class selectors*/
  /* rule 2 */
  .main .list {
    color: red;          
  }

  /* rule 1 */
#subsection {
    color: blue;
  }
                           /* in this code the text show with blue color bec it's more class selectors specifically using ID */
  /* rule 2 */
  .main .list {
    color: red;
  }

  /* rule 1 */
#subsection {
    background-color: yellow;
    color: blue;
  }
                          /*Both rules have only one ID selector, but rule 2 has a class selector in addition to the ID selector, so rule 2 has a higher specificity!*/
  /* rule 2 */
  .main #subsection {
   color: red;
  }

  
/* styles.css */

#parent {
  color: red;
}


.child {
  color: blue;
}

/* *{
    outline: 5px solid rgb(0, 255, 85);
  } */

  div {
    padding: 30px;
    text-align: center;
    margin-bottom: 100px;
    color: #0a0101;
  }
  
  .introduction {
    background-color: #548CA8;
  }
  
  .main-content {
    background-color: #476072;
  }
  
  .contact-us {
    text-align: right;
    background-color: #334257;
  }
  .highlight
  {
    background-color: maroon;
  }



  
  p {
    background: rgb(255 84 104 / 30%);
    color: black;
    border: 5px solid rgb(255 84 104);
    padding: 0px;
    margin: 100px;

  }
  
  span {
    background: rgb(144, 202, 7);
    border: 1px solid black;
  }
  
  .flex-container {
    display: flex; 
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div  {
    background: peachpuff;
    color: #476072;
    border: 4px solid brown;
    height: 100px
    
  
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 16px;
    background: burlywood;
    border: 4px solid indigo;

   
    /* flex-wrap: wrap; */
   }
   
   .child {
    background-color:burlywood;
    color:#ffffff;
    border: 1px solid black;
    padding: 1px;
    margin: 5px;
    height: 140px;
    width: calc(100% / 3 - 20px);
    text-align: center;
    flex: 1 1 0%;
    align-self: center;
    gap: 10px;
   }
   .child:nth-child(1) {
    
    background-color: #334257;
    
   }
   
   .child:nth-child(2) {
    
        background-color: #476072;
        
   }
   
   .child:nth-child(3) {
    
    background-color: #548CA8;
    
   
   }
   .image{
      /* display: flex; */
      justify-content: center;
      align-items: center;

    }
    
    .image img {
      max-width: 100%;
      max-height: 100%;
      padding-left: 5px;
      /* Optional: Add additional styling as needed */
    }
   